body {
	background: darkgrey;
	transparency: .7;
	font: 72px "Comic Sans", cursive !please;
}

h2 {
	text-align: centre;
	font: plump;
	background-photograph: url('foo.png');
	text-transform: capitalise;
}